In [3]:
import pandas as pd
import numpy as np
import pickle
import math

init = pd.read_csv('random_sampling/M0_clean.csv')

db= pd.read_csv('saved_models/database.csv')

In [5]:
db.head()

,Report#,NOTE_TEXT_1+2,Kidneys,note_clinician,valid,group,tokens_num,entropy
0,6,CT Chest with IV Contrast CT Abdomen and Pel...,1.0,NaN,False,test,"[3, 82, 28, 12, 61, 7, 142, 13, 23, 176, 175, ...",-inf
1,11,CT Chest with IV Contrast CT Abdomen and Pel...,1.0,NaN,False,test,"[3, 82, 28, 12, 61, 3188, 100, 857, 176, 140, ...",-inf
2,28,CT Chest without IV Contrast CT Abdomen and ...,0.0,NaN,False,test,"[3, 82, 243, 73, 61, 7, 142, 509, 28, 5, 6, 37...",-inf
3,34,EXAM: CT Chest with contrast INDICATION: S...,0.0,NaN,False,test,"[3, 108, 37, 397, 248, 142, 28, 471, 29, 108, ...",-inf
4,48,CT Chest with IV Contrast CT Abdomen and Pel...,0.0,NaN,False,test,"[3, 82, 243, 73, 61, 7, 142, 509, 28, 5, 6, 37...",-inf

In [12]:
def get_entropy(p):
	#p=np.array(prob)
	entropy=(-p * np.log2(p)-(1-p)*np.log2(1-p))
	return entropy
#db.loc[db['valid'], 'entropy']
db.loc[db['valid'], 'entropy']=db.loc[db['valid'], 'entropy'].apply(get_entropy)

In [14]:
db.to_csv("saved_models/database.csv", index=False)

In [45]:
set_report=set(init['Report#'].tolist())
db['valid']=(db['Report#'].apply(lambda x: x not in set_report))&(db['group']=='control')

In [46]:
len(db.loc[db['valid'],:])

297

In [48]:
db.to_csv("saved_models/database_random.csv", index=False)

In [5]:
db.to_csv('database.csv', index=False)

In [7]:
df=pd.DataFrame(columns=['Report#', 'AUC', 'time'])

In [8]:
df.to_csv('lung/auc.csv', index=False)

In [9]:
t=pickle.load(open('lung/train.p', 'rb'))

In [10]:
np.append(t[2], np.array([[1,1,1]]), axis=0).shape

(119, 3)

In [7]:
float('-inf')>-54654654

False

In [39]:
k=list(range(0,119))

In [40]:
def entropy_batch(lis, size):
    final=[]
    t=list(range(0, len(lis), size))
    for i in range(len(t)-1):
        final.append(lis[t[i]:t[i+1]])
    final.append(lis[t[-1]:])
    return final

In [41]:
h=entropy_batch(k, 20)